body{
  background-color:  rgb(1, 1, 53);
}

.btn{
  position: fixed;
  top: 0;
  color: rgb(1, 1, 53);
  left: 0;
  height: 100px;
  background-color: transparent;
  border: none;
}


.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: white;
  font-size: clamp(2rem, 10vw, 6rem);
  text-align: center;
}

