body{
  background-color:  rgb(1, 1, 53);
}

.btn{
  position: fixed;
  top: 0;
  color: rgb(1, 1, 53);
  left: 0;
  height: 100px;
  background-color: transparent;
  border: none;
}


.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1{
  color: rgb(255, 255, 255);
  font-size: 100px;
}